<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/logo.png">
        </a>
        <h1>PIGGY BANK</h1>
        <h3>The bank you can trust</h3>
        <h1></h1>
        <form class="form" onsubmit="handleLogin()">
          <input type="text" id="username" class="username" placeholder="Username">
          <input type="submit" class="btn btn-lg btn-primary" value="Sign In">
        </form>
        <% if(isShowInfo) {%>
          <div class="alert" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
              <use xlink:href="#check-circle-fill" />
            </svg>
            <h4 class="alert-heading">Welcome <%=username %>!</h4>
            <hr>
            <p>Aww yeah, you have successfully logged in.</p> <a href="/" onclick="handleLogOut()">Sign Out</a>
          </div>
          <%} %>
      </div>
    </div>
    <script>
      var handleLogin = function () {
        var username = document.getElementById('username').value;
        document.cookie = 'username=' + username+';SameSite=None; Secure';
      }
      var handleLogOut = function () {
        document.cookie = 'username=; Max-Age=0'
      }
    </script>
</body>

</html>